// mixins/flash-messages.scss
@import "compass/utilities/color/contrast";

@mixin flash-varient($background, $border) {
  background-color: $background;
  border-color: $border;
  color: contrast-color($background, $gray-darker, $white);
}
