// admin.scss
//

@import "variables";
@import "admin/search";
@import "admin/login";

// Hide the label XML
.xml {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.auto-changed {
  input,
  select {
    background-color: lighten($brand-success, 30%);
    border-color: darken($brand-success, 20%);
  }

  label {
    color: darken($brand-success, 20%);
  }
}

.auto-changed-link {
  background-color: lighten($brand-success, 30%);
  border-color: darken($brand-success, 20%);
}

.log-view {
  height: 400px;
}

.main-report {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $light-border;
  box-sizing: border-box;
}

.main-row {
  padding-bottom: 20px;
}
