// pages/customers/signin.scss

.login-container {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-control {
    font-size: 18px;
    height: 40px;
    z-index: 0;

    &:focus {
      z-index: 2;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}

.login-email {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

.login-password {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 20px;
}
