//

// Colors
//
// Gray and brand colors

$black:                  #000;
$gray-base:              $black;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             lighten($gray-base, 46.7%);
$gray-lighter:           lighten($gray-base, 93.5%);
$white:                  #fff;
$yellow:                 #faf6e1;

$brand-primary:         #9e8668;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #ebac33;
$brand-danger:          #d9534f;

$shadow:                rgba(0, 0, 0, .075);
$selection:             rgba(0, 0, 0, .66);
$focus:                 rgba($brand-primary, .6);

$light-border:          #ccc;

// Scaffolding
//
// Settings for some of the most global styles.

$body-bg:               $white;
$text-color:            #555;

$link-color:            $brand-primary;
$link-hover-color:      lighten($link-color, 15%);
$link-hover-decoration: underline;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Open Sans', Helvetica, sans-serif;
$font-family-serif:       'Noto Sans', sans-serif;
$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25));
$font-size-small:         ceil(($font-size-base * .85));

$font-size-h1:            floor(($font-size-base * 2.6));
$font-size-h2:            floor(($font-size-base * 2.15));
$font-size-h3:            ceil(($font-size-base * 1.7));
$font-size-h4:            ceil(($font-size-base * 1.25));
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * .85));

$line-height-base:        1.428571429;
$line-height-computed:    floor(($font-size-base * $line-height-base));

$headings-font-family:    inherit;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;

//== Buttons
//
//

$btn-font-weight:                bold;
$btn-text-transform:             uppercase;

$btn-default:                   $white;

$btn-inverse:                   #333;

$btn-primary:                   $brand-primary;

$btn-success:                   $brand-success;

$btn-info:                      $brand-info;

$btn-warning:                   $brand-warning;

$btn-danger:                    $brand-danger;

$btn-link-disabled:             $gray-light;

// Compass Defaults
//
//
$default-border-radius:          4px;

// Media Queries (from bootstrap-sass)
//
//

$screen-xs-min:              480px !default;
$screen-sm-min:              768px !default;
$screen-md-min:              992px !default;
$screen-lg-min:              1200px !default;
